body {
    background-image: url(Balloon-love.jpg);
    background-size: cover; 
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    color: black;
    font-size: 23px;
    margin: center;
    padding: center;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
  }
#inicio{
  font-size: 30px;
}
 
button {
     position: center;
     margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 200 px;
    background: tomato;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    width: 100px;
    transition: margin-top .1s;
    display: inline-flex;
}
  
  div {
    display: inline-block;
    border: 5px solid tomato;
    padding: 10 px;
    border-radius: 10px;
    margin: 2px;
    cursor: pointer;
    transition: all 0.2s;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 550px;
  }

  
 div:hover {
    background: white;
    opacity: 0.6;
    filter: alpha(opacity=60);
    
  }
  